{erl_opts, [debug_info
           ,{d, hardlog}
            %% ,warnings_as_errors
           ,{parse_transform, lager_transform}
           ,bin_opt_info
           ]}.

{deps, [{lager, "3.5.1"},
        {lager_syslog, {git, "https://github.com/basho/lager_syslog.git",{tag, "3.0.3"}}},
        {folsom, "0.8.3"}
       ]}.

{cover_enabled, true}.
{cover_excl_mods, [server_sup
                  ,db_sup]}.

{relx, [{release,
         {egg, "0.0.1"},
         [
          {runtime_tools, load},
          lager,
          lager_syslog,
          common,
          {mnesia, load},
          tester,
          db,
          server
         ]
        },
        {dev_mode, false},
        {include_erts, false},
        {extended_start_script, true},
        {overlay_vars, "./config/default.vars"},
        {overlay, [
                {template, "./config/sys.config.template", "./releases/{{release_version}}/sys.config"},
                {template, "./config/vm.args.template", "./releases/{{release_version}}/vm.args"}
        ]}
       ]}.

{overrides, [
   %%
   %% required to assemble native library
   {override, syslog, [
      {plugins, [pc]},
      {artifacts, ["priv/syslog_drv.so"]},
      {provider_hooks, [
         {post, [
            {compile, {pc, compile}},
            {clean, {pc, clean}}
         ]}
      ]}
   ]}
]}.

{profiles, [{prod, [
                    {erl_opts, [no_debug_info]},
                    {relx, [
                            {dev_mode, false},
                            {include_erts, true}
                           ]}
                   ]},
            {native, [
                      {erl_opts, [{native, o3}, {d, 'NATIVE'}]}
                     ]},
            {master, [
                    {relx, [
                            {overlay_vars, "./config/master.vars"}
                           ]}
                   ]},
            {slave, [
                    {relx, [
                            {overlay_vars, "./config/slave.vars"}
                           ]}
                   ]}
           ]}.

{plugins, [rebar3_run, rebar3_hex]}.
