{erl_opts, [debug_info]}.
{deps, [{chatterbox, {git, "git://github.com/joedevivo/chatterbox.git", {tag, "v0.5.0"}}}
       ,{apns, {git, "git://github.com/inaka/apns4erl.git", {tag, "2.1.0"}}}]}.

{overrides, [
   {override, apns,
         [ {apple_host,       "api.development.push.apple.com"}
         , {apple_port,       443}
         , {timeout,          10000}
         , {apns_id,          undefined}
         , {apns_expiration,  0}
         , {apns_priority,    10}
         , {apns_topic,       "com.example.myapp"}
         , {apns_collapse_id, undefined}
         , {feedback_host,    "feedback.push.apple.com"}
         , {feedback_port,    2195}
         ]
        }]}.