[Unit]
After=NetworkManager-wait-online.service
Description=Egg server

[Service]
Type=forking
ExecStart=/home/ne/egg/bin/egg start
ExecStop=/home/ne/egg/bin/egg stop
User=user1

[Install]
WantedBy=multi-user.target